* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "rhino-sans";
  src: url("../font/rhino-sans/RHINO_SANS.ttf");
}

/*----- body -----*/

body {
  font-family: "rhino-sans";
  background-color: #fffaed;
  display: grid;
  grid-template-columns: 30vh 75vh;
  grid-template-rows: 20vh 75vh 5vh;
  grid-template-areas:
    ". header"
    "players board"
    ". footer";
}

/*----- header -----*/

header {
  grid-area: header;
  display: grid;
  align-content: center;
  justify-items: center;
}

h1 {
  font-size: 8vh;
}

header > div {
  font-size: 7vh;
}

/*----- main/side -----*/

.players {
  grid-area: players;
  display: flex;
  flex-direction: column;
  font-size: 6vh;
  text-align: center;
  margin-left: 4vh;
  margin-right: 4vh;
  justify-content: space-between;
  cursor: default;
}

.players .two {
  color: #922d03;
}

.button {
  color: purple;
  border: 0.5vh solid purple;
  border-radius: 1.5vh;
  padding: 1.5vh;
}

.button:hover {
  border: 0.5vh solid #f07922;
  color: #f07922;
}

/*----- main/board -----*/

.board {
  grid-area: board;
}

.row {
  display: flex;
}

.square {
  height: 7.5vh;
  width: 7.5vh;
  border-radius: 1.5vh;
  align-items: center;
  background-size: contain;
}

.square:hover {
  filter: brightness(85%);
}

.highlight {
  border: 0.3vh solid purple;
}

.move {
  background-image: url("../img/moves/purple_dot.png");
  border: 0.3vh solid purple;
}

.fear {
  border: 0.8vh solid red;
}

/*----- footer -----*/

footer {
  grid-area: footer;
  text-align: right;
  font-size: 3vh;
  margin-right: 1vh;
  margin-top: 1vh;
}

a {
  color: black;
}